/*This is a CSS comment*/

/*Id is selected with #[idname]; class is selected with .[classname]*/

/*
display: flex; a powerful way to arrange, align, and distribute elements inside a container, without needing floats or complicated positioning.
Flexbox usage:
1. Aligns items in a row or column easily.
2. Controls spacing automatically.
3. Aligns items vertically without hacks
4. Makes items flexible in size.
*/

/*Websites' default font-family is Times New Roman*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
:root {
    --a: url("IMAGES/BACKGROUND.png");
} /*THIS IS HOW TO DEFINE A VARIABLE IN CSS*/

body{
    background-image: var(--a);
    color: black;
    font-family: Arial, Helvetica, sans-serif; /*sets new default font, the original default font is Times New Roman.*/
}

body.dark{
    background: rgb(55, 55, 68);
    color:white;
}

body > h2{ /*gets all the h2 tags 1 level deep in body, think of it as mining down 1 level and looking for the things you need.*/
    color: red;
    text-shadow: 1px 1px black;
}

.backgroundtest{
    background-image: url(IMAGES/BACKGROUND.png);
    background-repeat: no-repeat; /*prevents from repeating, when the image is not big enough to cover it repeats itself*/
    background-size: cover; /*covers the entire page*/ /*to stretch to fit the entire element, set the background-size to 100% 100%*/
    background-attachment: fixed; /*to make sure the entire element is always covered*/
    
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.boxcenter{
    display: flex;
    justify-content: center;
}

.boxright{
    display: flex;
    justify-content: right;
}

.textcenter{
    text-align: center;
    color: red;
}

body.dark .textcenter{
    color: rgb(0, 255, 0);
}

.png{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;           
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.25);
    border-width: 0.15px;
   /*box-shadow: 1px 1px darkblue;
    background: linear-gradient(to top, rgb(17, 128, 255), cyan);
    margin: 0 auto;*/
}

.funcbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;           
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0,0.45); /*box-shadow: offset-x offset-y blur-radius spread-radius color inset;*/
    border-width: 0.15px;
    background: linear-gradient(to top, rgb(0, 126, 236), rgb(0, 255, 255));

}

.fixedposbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
}

.fixedupbuttonbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position:fixed;
    bottom: 10px;
    right: 10px;
}

.fixeddownbuttonbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position:fixed;
    bottom: 70px;
    right: 10px;
}

.fixeddarkbutton{
    display: flex;
    justify-content: right;
    position:fixed;
    top: 15px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.25);

}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.links{
    color: rgb(0, 174, 255);
}

#popup{ /*general popup*/
    display: none; /*change the display to none to hide.*/
    position: fixed;
    top: 80px;
    right: 10px;
    padding: 10px;
    background: rgb(0, 255, 119);
    border: 1px solid rgb(212, 212, 212);
    
}

.amongus{
    display: inline-flex; /*This wraps the border around the text/paragraph; it works exactly like inline-block, but has the power of flexbox*/
    font-size:medium;
    text-align: center;
    border: 2px solid black; /*border: [thickness] [style] [color]*/
    padding: 10px; /*The CSS padding property defines a padding (space) between the text and the border.*/
    margin: 5px; /*The CSS margin property defines a margin (space) outside the border.*/
}

body.dark .amongus{
    display: inline-flex; /*This wraps the border around the text/paragraph; it works exactly like inline-block, but has the power of flexbox*/
    font-size:medium;
    text-align: center;
    border: 2px solid white; /*border: [thickness] [style] [color]*/
    padding: 10px; /*The CSS padding property defines a padding (space) between the text and the border.*/
    margin: 5px; /*The CSS margin property defines a margin (space) outside the border.*/
}

.infograph{
    width: 700px;
    padding:15px;
    border: 2px solid black;
}

body.dark .infograph{
    width: 700px;
    padding:15px;
    border: 2px solid white;
}

#idtest{
    display: inline-flex;
    font-size: medium;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
}

body.dark #idtest{
    display: inline-flex;
    font-size: medium;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    width: 400px;
}


#headings{
    color:aqua;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.imagett{
    color:lightblue;
    font-size: small;
}

.pretext{
    text-align: left;
    color:greenyellow;
    outline: darkblue;
}

.testtable th,td{
    border-collapse: collapse;
    border: 1px solid black;
}

.tablebackground th{ 
    border-collapse:collapse;
    border: 1px solid white;
}

.theading{
    background-color: aquamarine;
}
/*This specifically cannot be used with width*/
/*th, td{  
    border-collapse: collapse;
    border: 1px solid black;
    background-color: aqua;
}*/